**Categorical Data Encoding**
-

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Label Encoding
-

In [16]:
df=pd.DataFrame({
    'color':['Red','Blue','Green','Yellow','Pink','Red']
})
df

    color
0     Red
1    Blue
2   Green
3  Yellow
4    Pink
5     Red

In [17]:
#initializa LabelEncoder

label_encoder=LabelEncoder()

#fit and tranform the data

df['color_encoded'] =  label_encoder.fit_transform(df['color'])
df

    color  color_encoded
0     Red              3
1    Blue              0
2   Green              1
3  Yellow              4
4    Pink              2
5     Red              3

one hot encodding
-

In [18]:
#one hot encodding

df_encoder = pd.get_dummies(df,columns=['color'])
df_encoder

   color_encoded  color_Blue  color_Green  color_Pink  color_Red  color_Yellow
0              3       False        False       False       True         False
1              0        True        False       False      False         False
2              1       False         True       False      False         False
3              4       False        False       False      False          True
4              2       False        False        True      False         False
5              3       False        False       False       True         False

Binary Encoding
-

In [22]:
import category_encoders as ce

#Initialize BinaryEncoder
binary_encoder = ce.BinaryEncoder(cols=['color'])

#fit & tranform
df_Binery_encoded = binary_encoder.fit_transform(df)

df_Binery_encoded

   color_0  color_1  color_2  color_encoded
0        0        0        1              3
1        0        1        0              0
2        0        1        1              1
3        1        0        0              4
4        1        0        1              2
5        0        0        1              3

Target Encoding
-

In [25]:
#Sample DataFrame
df= pd.DataFrame({
    'Color':['Red','Blue','Green','Pink','Red','Blue'],
    'Price':[10,15,12,14,11,18]
})

df

   Color  Price
0    Red     10
1   Blue     15
2  Green     12
3   Pink     14
4    Red     11
5   Blue     18

In [26]:
# Initialize TargetEncoder
target_encoder=ce.TargetEncoder(cols=['Color'])

#fit & Tranform
df_target_encoded = target_encoder.fit_transform(df[['Color']],df[['Price']])

#Add Encoding Column to Original Dataframe
df['Color_Encoded']=df_target_encoded

df

   Color  Price  Color_Encoded
0    Red     10      12.931422
1   Blue     15      13.782528
2  Green     12      13.159855
3   Pink     14      13.420072
4    Red     11      12.931422
5   Blue     18      13.782528